$text: #e1dbfa;
$background: #070315;
$primary: #917aec;
$secondary: #92157c;
$accent: #e2307b;
$cardBg: #110830;
$cardBorder: #241c44;

body {
  height: 100vh;
  background-color: $background;
  font-family: oswald;
  font-weight: 400;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: $text;
  margin-top: 20px;
  font-size: 45px;
  .bank-nav {
    height: 50px;
    padding: 0;
    margin: 0;
    fill: $primary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 700px;
  border-radius: 20px;
  border: 2px solid $cardBorder;
  // background-color: $cardBg;
  position: relative;
  .pillars {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .pillar {
      fill: $primary;
      height: 100%;
      padding: 0;
    }
  }
  .form-input {
    display: flex;
    align-items: baseline;
    gap: 30px;
    width: fit-content;
    z-index: 2;
    label {
      color: $text;
      font-size: 25px;
    }
    input {
      height: 20px;
      font-family: oswald;
      font-size: 23px;
      padding: 4px;
      background-color: $background;
      color: $text;
      border: 2px solid $primary;
      border-radius: 4px;
      width: 150px;
      &:focus {
        outline: none;
        border: 2px solid $accent;
      }
    }
  }
}

.client-list{
    width: 700px;
    height: 500px;
    color: $text;
    display: flex;
    justify-content: center;
    ul{
      width: fit-content;
    }
    .client{
      // border: 1px solid white;
      display: flex;
      justify-content: space-between;
      padding:15px;
      width: 100%;
      .client-name{
        font-size: 45px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .account{
          font-size: 15px;
        }
      }
      .balance{
        font-size: 60px;
      }
    }
}
